Repository b2io/base2.io, pull requests merged in 2020-02, with the labels that each got.

#438 chore(site): Add Jeffrey to `/team`
  _content/img/team/jcanty.jpg
  _content/team.json
Labels: @estimate(1); XS, scope: team, type: chore

#439 chore(site): Upgrade `styled-components`
  package-lock.json
  package.json
  src/pages/index.jsx
  src/util/globalStyles.js
Labels: @estimate(1); XS, scope: site, type: chore

#441 Revert "chore(site): Upgrade `styled-components`"
  package-lock.json
  package.json
  src/pages/index.jsx
  src/util/globalStyles.js
Labels: priority: 2-high, scope: site, type: fix

#442 chore(team): Update job titles on team page
  _content/img/team/csteinert.jpg
  _content/img/team/jridenbaugh.jpg
  _content/img/team/jstevens.jpg
  _content/img/team/khamper.jpg
  _content/img/team/mkendall.jpg
  _content/img/team/zbrown.jpg
  _content/team.json
  src/components/molecules/TeamList.jsx
Labels: @estimate(1); XS, scope: team, type: chore

#446 chore(team): Add Zach to Team List
  _content/img/team/zchay-dolan.jpg
  _content/team.json
Labels: @estimate(1); XS, scope: team, type: chore

#447 chore(team): Add Franky Martinez to Team Page
  _content/img/team/fmartinez.jpg
  _content/team.json
Labels: @estimate(1); XS, scope: team, type: chore

#448 feat(site): Smooth scrolling on nav link
  package-lock.json
  package.json
  src/components/molecules/GlobalNavigation.jsx
  src/pages/index.jsx
Labels: scope: site, type: feature

#455 feat(content): Add Chicago to lists of locations
  src/components/organisms/contact/ContactHeader.jsx
  src/components/organisms/jobs/JobForm.jsx
  src/components/organisms/jobs/JobsContent.jsx
Labels: @estimate(1); XS, priority: 1-medium, scope: contact-us, scope: jobs, scope: team, type: content

#453 feature(site): Add Case Studies (List View, Case Study Pages)
  _content/caseStudies/01-aep-scopebuilder.md
  _content/caseStudies/02-sherwin-williams-color-snap.md
  _content/caseStudies/03-netjets-fly-netjets.md
  _content/caseStudies/04-dnv-gl-battery-xt.md
  _content/clients.json
  _content/img/technologies/aurelia.png
  _content/posts/2013-08-23-startup-magnet-poetry.md
  _content/posts/2015-05-13-regex-replace-with-groups.md
  _content/posts/2015-06-01-shortcut-month.md
  _content/posts/2015-12-30-jscs-intellij-setup.md
  _content/posts/2016-12-21-the-base-two-apprenticeship.md
  _content/posts/2017-01-03-apprenticeship-month-1.md
  _content/posts/2017-11-22-knitting-with-css-grid.md
  _content/technologies.json
  gatsby-node.js
  package.json
  src/components/molecules/ContentSummary.jsx
  src/components/molecules/GlobalNavigation.jsx
  src/components/molecules/PageHeader.jsx
  src/components/molecules/index.js
  src/components/organisms/Clients.jsx
  src/components/organisms/caseStudies/CaseStudyAside.jsx
  src/components/organisms/caseStudies/index.js
  src/components/organisms/index.js
  src/pages/case-studies/index.jsx
  src/templates/caseStudy.jsx
  static/img/caseStudies/color-snap-mock.png
  static/img/caseStudies/dnvgl-mock.png
  static/img/caseStudies/netjets-mock.png
  static/img/caseStudies/scopebuilder-mock.png
  static/img/telescope-constellation.png
Labels: scope: case-studies, type: feature
